body {
    text-align: center;
    background-color: aquamarine;
}

marquee {
    font-family: 'Nova Flat', cursive;
    font-size: 27;
}

img {
    width: 20%;
}

p {
    font-family: 'Rubik', sans-serif;
}

.movie_head {
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 100%;
    display: inline-block;
}

.movie_head i {
    float: right;
}

.movie_text span {
    color: #ff7700;
}

.enviorment li {
    margin-top: 13px;
}

.enviorment_li h4 {
    border-bottom: 1px solid white;
    padding: 8px;
}

.enviorment_li img {
    border-radius: 25px;
}

.enviorment_li p {
    margin-top: 10px;
}

h5 {
    color: blue;
}

.header_entreprenuer {
    line-height: 2;
}

.book {
    cursor: pointer;
}

.book hr {
    margin-bottom: 10px;
}

.modal-content {
    margin-top: 100px;
}

.img_modal {
    display: inline-block;
}

.p_modal {
    margin-top: 10px;
}

.modal-body {
    text-align: center;
}
